body {
  text-align: center;
  font-family: sans-serif;
}

#game-area {
  width: 600px;
  height: 400px;
  border: 2px solid black;
  margin: 20px auto;
  position: relative;
  cursor: crosshair;
}

.target {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}
